# CLIProxyAPI Deploy Configuration
SERVER=root@107.174.42.198
REMOTE_PATH=/opt/docker-projects/standalone-apps/cliproxies
API_PORT=8005

# Domain configuration (if using nginx-proxy)
# API_DOMAIN=api.cliproxies.com

# Docker image configuration
VERSION=prod
CLI_PROXY_IMAGE=eceasy/cli-proxy-api:latest
